extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="Lista dei titoli azionari per cui è disponibile una analisi")
  meta(name="keywords" content="titoli, azioni, analisi, borsa, italiana")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title + " | " + proj_name)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content="Lista dei titoli azionari per cui è disponibile una analisi")
  meta(name="og:image" content="")

block main
  include ../../components/titoli/stocks_list/stocks_list.pug