- 
  let alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

if stocks
  div(id="select_stock")
    h1 Seleziona il titolo azionario per ottenere l'analisi completa
    div(class="alphabet")
      each letter in alphabet
        span #{letter}
    div(class="stocks") 
      each stock in stocks
        a(class="stock hide", href=`/analisi/${encodeURI(stock.name.toLowerCase().replace(/ /g, '-'))}?isin=${stock.isin}`, title='Analisi Tecnica' + ' ' + stock.name, data-code=stock.code, data-letter=stock.name[0])
          img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt='Analisi Tecnica' + ' ' + stock.name, data-status)
          span #{stock.name}
