extends layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="")
  meta(name="keywords" content="")
  meta(name="robots" content="")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content="")
  meta(name="og:type" content="")
  meta(name="og:title" content="")
  meta(name="og:site_name" content="")
  meta(name="og:description" content="")
  meta(name="og:image" content="")

block main
  - 
    let sources = [
      {
        name: 'Borsa Italiana',
        id: 'borsa-italiana',
        href: 'https://www.borsaitaliana.it/homepage/homepage.htm'
      },
      {
        name: 'Il Sole 24 Ore',
        id: 'il-sole-24-ore',
        href: 'https://www.ilsole24ore.com/'
      },
      {
        name: 'Milano Finanza',
        id: 'milano-finanza',
        href: 'https://www.milanofinanza.it/'
      },
      {
        name: 'SoldiOnLine',
        id: 'soldi-on-line',
        href: 'https://www.soldionline.it/'
      },
      {
        name: 'Teleborsa',
        id: 'teleborsa',
        href: 'https://www.teleborsa.it/'
      },
      {
        name: 'Repubblica Affari e Finanza',
        id: 'repubblica',
        href: 'https://www.repubblica.it/economia/affari-e-finanza/'
      }
    ]
  h1 Trova ora le Azioni più interessanti della Borsa Italiana
  p Scopri #[em in tempo reale] quali titoli azionari stanno generando segnali cruciali secondo i principi dell'#[em Analisi Tecnica].
  div(class="sources")
    h3 Le fonti
    p I dati forniti sono presi in tempo reale #[em dai principali media online] del settore finanziario.
    div
      each source in sources
        a(class="source img_icon " + source.id, href=source.href, title=source.name) #{source.name}
  div(class="menu")
    h3 I dati
    p
      a(data-target="perf-month", href="#perf-month") Performance mensili
  include ../components/home/perf-month/perf-month.pug
  section(class="best-year")
  section(class="worst-year")
  section(class="uptrends")
  section(class="downtrends")
  section(class="up-inversion")
  section(class="down-inversion")

block prepend footer
  include ../components/shared/disclaimer/disclaimer.pug
