extends layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content=description)
  meta(name="keywords" content="performance, trend, analisi, tecniche, rialzi, ribassi, inversione, borsa, italiana")
  link(rel="canonical", href=proj_url)

  meta(name="og:url" content=proj_url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=proj_tagline)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content=description)
  meta(name="og:image" content="/assets/images/borsa-milano-2.jpg")

block intro 
  include ../components/home/main-banner/main-banner.pug

block main
  include ../components/home/perf-month/perf-month.pug
  include ../components/home/perf-year/perf-year.pug
  include ../components/home/uptrends/uptrends.pug
  include ../components/home/downtrends/downtrends.pug
  include ../components/shared/support/support.pug
  include ../components/home/upinversion/upinversion.pug
  include ../components/home/downinversion/downinversion.pug
  include ../components/home/socials/socials.pug

block prepend footer
  include ../components/shared/disclaimer/disclaimer.pug

block viewscripts
  script(src='/scripts/vendors/siema.min.js')
