extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="Azioni Italiane con le migliori (e peggiori) performance annuali")
  meta(name="keywords" content="performance, annuali, azioni, italiane, borsa")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title + " | " + proj_name)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content="Azioni Italiane con le migliori (e peggiori) performance annuali")
  meta(name="og:image" content="")

block main
  h1 Trova ora le Azioni con le migliori (e peggiori) performance annuali
  p Scopri #[em in tempo reale] quali titoli azionari stanno generando segnali cruciali secondo i principi dell'#[em Analisi Tecnica].
  include ../../components/shared/sources/sources.pug
  include ../../components/home/perf-year/perf-year.pug
  include ../../components/shared/criteria/criteria.pug

block prepend footer
  include ../../components/shared/disclaimer/disclaimer.pug
