extends ../layout.pug

block append meta
  title #{title} | #{proj_name}
  meta(name="description" content="Azioni Italiane in Inversione Ribassista")
  meta(name="keywords" content="inversione, ribassista, azioni, italiane, borsa")
  link(rel="canonical", href=proj_url + url)

  meta(name="og:url" content=proj_url + url)
  meta(name="og:type" content="website")
  meta(name="og:title" content=title + " | " + proj_name)
  meta(name="og:site_name" content=proj_name)
  meta(name="og:description" content="Azioni Italiane in Inversione Ribassista")
  meta(name="og:image" content="")

block main
  h1 Trova ora le Azioni del Mercato Italiano in Inversione Ribassista
  p Scopri #[em in tempo reale] quali titoli azionari stanno generando segnali cruciali secondo i principi dell'#[em Analisi Tecnica].
  include ../../components/shared/sources/sources.pug
  include ../../components/home/downinversion/downinversion.pug
  include ../../components/shared/criteria/criteria.pug

block prepend footer
  include ../../components/shared/disclaimer/disclaimer.pug
